@use 'parcial_sass'

/* CABEÇALHO */
.cabecalho 
  background-color: parcial_sass.$laranja
  border-bottom: 1px
  border-bottom-style: solid
  border-bottom-color: gray
  margin-bottom: 1em

.cabecalho
  a
    color: parcial_sass.$preto
  a:hover
    color: parcial_sass.$gesso
  a:active 
    border-bottom: 1px
    border-bottom-style: solid
    border-bottom-color: parcial_sass.$gesso

#navbar-items 
  .navbar-nav 
    @extend %centralizar
    width: 100%

  .nav-item 
    @extend %centralizar
    width: 100%
    font-size: 1.4em

.navbar-brand 
  @extend %centralizar

.navbar-brand 
  img 
    width: 80px

  span 
    font-weight: 700
    font-size: 1.5em
    margin-left: 0.5em

.nav-item 
  a 
    display: flex
    justify-content: right
  
  input 
    border-radius: 30px
  
  button 
    border: 0
    color: parcial_sass.$preto
  
  button:hover
    background-color: parcial_sass.$amarelo
    color: parcial_sass.$preto



/* RODAPÉ */
#rodape 
  padding: 3em

#rodape
  a:hover 
    color: parcial_sass.$amarelo

/* RODAPÉ PARTE DE CIMA */
#rodape-cima 
  margin-bottom: 3em

#rodape-cima
  col-12
    border: 0em
    margin-bottom: 2em

  input 
    border-radius: 0
    border: none

  li 
    margin-bottom: 0.3em
  
  h4 
    color: white
    margin-bottom: 1.5em
  
  i 
    color: parcial_sass.$vermelho

/* RODAPÉ PARTE DE BAIXO */
#rodape-baixo 
    text-align: center
    border-top: 1px solid gray
    padding-top: 2em

#rodape-baixo 
  i:hover 
    color: parcial_sass.$amarelo

@media(min-width: 768px) 
  #rodape-cima
    .coluna-rodape-cima
      @include parcial_sass.padding-lateral-igual($tamanho: 2em)
      
  #rodape-cima-centro 
    @include parcial_sass.padding-lateral-igual($tamanho: 2em)
    border-left: 1px solid parcial_sass.$gesso
    border-right: 1px solid parcial_sass.$gesso
    
/* ASSINATURA PRO*/
.fundo-amarelo
  background-color: parcial_sass.$amarelo

.tipos-de-assinatura 
  font-size: 1.2em
  text-align: justify

.explicacoes 
  font-size: 0.8em
  text-align: center

.explicacoes 
  .col-md-10 
    padding-top: 1em
  
  .col-12 
    padding-top: 1em
    padding-bottom: 2.5em

.conteiner-assinatura 
    margin-bottom: 1em


.conteiner-assinatura 
  .col-12 
    @include parcial_sass.padding-lateral-igual($tamanho: 5em)

  .titulo 
    text-align: center
    padding-top: 1.5em
    padding-bottom: 0.5em

.row-tipos-assinatura
  .col-12
      @include parcial_sass.padding-lateral-igual($tamanho: 2em)

.row-tipos-assinatura
  .titulo
    padding-top: 1em
    padding-bottom: 0.5em

#conteiner-tipos-de-assinatura
  margin-bottom: 1em

.imagem-assinatura
  padding-left: 0
  @extend %centralizar_item

.imagem-assinatura
  img
    width: 100%

/* BANNER COM TRASPARENCIA */

#featured-images     
    margin-top: 1em
    margin-bottom: 1em

#featured-images 
  .col-md-3 
    position: relative
    cursor: pointer

  .col-md-3:hover > .banner-content 
    opacity: 0.8

  .col-12 
    position: relative
    cursor: pointer

  .col-12:hover > .banner-content 
    opacity: 0.9

  .banner-content 
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: white
    @extend %centralizar_item
    flex-direction: column
    opacity: 0.6
    transition: 0.5s

  .banner-content
    a
      color: parcial_sass.$gesso

    a:hover
      color: parcial_sass.$amarelo

  img 
    width: 100%


@media(min-width: 768px) 
  #featured-images .banner-content 
      opacity: 0



/* LOGIN */
.botao_laranja 
  border:none
  outline: none
  height: 50px
  width: 350px
  background-color: parcial_sass.$laranja
  color:white
  border-radius: 4px
  font-weight: bold

.botao_laranja:hover 
  background: parcial_sass.$branco
  border: 1px solid
  color: parcial_sass.$vermelho

.imagem_login 
  width: 12%
  height: 12%

.centralizar 
  @extend %centralizar_item

#termos
  font-size: 0.8em

#fale-conosco
  margin-bottom: 4em

#fale-conosco 
  h6
    text-align: justify



/* QUEM SOMOS */
#quem-somos 
  h2 
    text-decoration: underline
    text-decoration-color: parcial_sass.$laranja
    margin-bottom: 0.5em
    @include parcial_sass.padding-lateral-igual

  p 
    margin-top: 1em
    text-align: justify
    text-justify: auto
    @include parcial_sass.padding-lateral-igual($tamanho: 0.5em)
 
  .img 
    float: left
    width: 2em
    height: 1.5em
    object-fit: fill

#bio-images 
  img 
    width: 100%

#featured-images
  text-align: center
  margin-bottom: 4em

#featured-images
  img
    margin-top: 0.6em



/* SLIDER  HOME (INDEX) */
#slider 
    margin-bottom: 1em

.carousel-control-prev i
    color: parcial_sass.$preto
    font-size: 4em

.carousel-control-next i 
    color: parcial_sass.$preto
    font-size: 4em

.carousel-indicators [data-bs-target] 
    background-color: parcial_sass.$preto
    opacity: 0.8

.carousel-item img 
    @include parcial_sass.imagem-centalizada-com-margem($proporcao-imagem: 90)

.btn-outline-success
  border-radius:15px

.btn-outline-success
  h3
    color: parcial_sass.$preto
    text-align: center




/* LISTA DE PRODUTOS */
.navbar-produtos 
  .nav-link 
    border: 1px solid black
    border-radius: 7px
    color: parcial_sass.$preto
  
.navbar-produtos .nav-link:hover
  background-color: parcial_sass.$amarelo

.lista-de-produtos
  .btn-outline-success
    border-radius:15px
    margin-bottom: 1em

  .btn-outline-success
    h1
      color: parcial_sass.$preto
      text-align: center

.navbar-filtro
  color: parcial_sass.$preto
  margin-top: 1em
  background-color: parcial_sass.$laranja
  border-radius: 15px
    
.navbar-filtro
  h4
    text-align: right
    vertical-align: middle
    margin-bottom: 0
  
  .control-prev, .control-next 
    background-color: parcial_sass.$amarelo
    
/* PRODUTOS */
.imagem-produtos
  padding-left: 0
  @extend %centralizar_item

.imagem-produtos
  img
    max-height: 22em
    max-width: 100%
    border: 1px solid parcial_sass.$laranja

.titulo-mensagem-produto
  .col-11
    padding-top: 2em
    padding-bottom: 1em

.botao-mensagem-produto
  @extend %centralizar
  margin-top: 1em
  margin-bottom: 2em

.informacoes-produto
  .col-md-10
    padding-bottom: 2em





